@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
.container {
  width: 80%;
  margin: 0 auto;
  font-family: "Montserrat";
}
body {
  background: #0a1128;
}

.slides {
  width: 457px !important;
  height: 272px;
  border-radius: 10px;
  background: #102146;
  text-align: center;
  padding-top: 52px;

  & span {
    position: absolute;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    bottom: 20px;
    right: 35px;
  }
  & img {
    position: absolute;
    top: -17%;
    left: 42%;
  }
  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    & h4 {
      color: #fff;
      font-size: 18px;
      font-weight: 600;
    }
    & p {
      width: 387px;
      color: #fff;
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}

.slick-prev {
  display: none !important;
}
.slick-list {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.slick-slide {
  transition: all 0.55s var(--tr3);
  &:hover {
    transform: scale(1.05);
  }
}
.reviews .slick-track {
  display: flex;
}

.wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}
